{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <title>Mywebsite</title>
</head>

<body>
    <div class="banner">
        <img src="/static/images/banner.JPG" alt="PYTHON DEVELOPER">

    </div>

    <div class="about">
        <div class="column">
            <div class="left">
                <img src="/static/images/white.PNG" alt="PYTHON DEVELOPER">
            </div>
            <div class="leftImage">
                <img src="/static/images/doll.PNG" alt="my photo">
            </div>
        </div>

        <div class="column">

            <h2>Hey! My name is Hanood.
                <br>
                I am a PYTHON DEVELOPER.
            </h2>
            <p>I have been working as a freelance designer and front-end developer since 2022. I’ve always been someone
                who has both a creative and a logical side. When I discovered web design in University, I realized it
                would
                be the perfect fit. I could use my creative side to design and my logical side to code. As a bonus,
                being
                both designer and developer allows me to make sure no detail is lost in translation.
            </p>

            <div class="icons">
                <a href="https://twitter.com/HanoodTunio">
                    <img src="/static/images/twitter.PNG" alt="twitter link" width="42px" height="42px">
                </a>

                <a href="https://www.instagram.com/hanood_tunio/" alt="instagram">
                    <img src="/static/images/insta2.PNG" alt="instagram link" width="45px" height="45px">
                </a>

                <a href="https://www.linkedin.com/in/hanood-tunio-6335a31ba/" alt="LinkedIn pro">
                    <img src="/static/images/in.PNG" alt="LinkedIn profile" width="51px" height="51px">
                </a>

                <a href="https://github.com/HanoodTunio">
                    <img src="/static/images/git.PNG" alt="github profile" width="43px" height="43px">
                </a>
            </div>

        </div>

    </div>

    <div class="curve">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#ca97ca" fill-opacity="10"
                d="M0,256L60,250.7C120,245,240,235,360,213.3C480,192,600,160,720,122.7C840,85,960,43,1080,69.3C1200,96,1320,192,1380,240L1440,288L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>
        </svg>
    </div>

    <div class="alsoAboutMe">
        <div class="column">
            <h1>I
                <img src="/static/images/heart.GIF" width="70px" height="60px">
                working with small businesses
            </h1>
            <h3>
                <br>
                I specialize in creating sites for individuals and small businesses.
                You shouldn’t have to settle for cheap solutions or generic templates.
                I provide custom designs at afforable prices. Frequently your website
                is the first impression your customers will get, so make sure it’s a good one.
                Since my time is split between a few different things, I’m not able to take on
                every project I’d like to, but I'm always looking for fun work. Take a look at my
                portfolio below, if you think I’d be a good match send me an email.

            </h3>
        </div>

        <div class="column">
            <img id="lap" src="/static/images/laptop.PNG" width="50%" height="70%">
        </div>
    </div>


</body>

</html>